.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 10px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 5px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 5px;
    text-shadow: 1px 1px 1px #fff;
}



.hidden {
    display: none;
}

.lunch {
    text-align: center;
}

table {
    width: 100%;
}

.circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline;
    float: left;
    margin-right: 5px;
}

.circle-orange {
    background-color: orange;
}

.circle-green {
    background-color: green;
}

.circle-blue {
    background-color: blue;
}

.uppercase {
    text-transform: uppercase;
}

#loadingIcon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    background: linear-gradient(green, lightblue);
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         2s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}